* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Abhaya Libre', serif;
}

body {
    background-image: url('../images/articles_fon.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    
    background-blend-mode: overlay;
}

.container {
    max-width: 1200px;
    margin: auto;
}


.articles-container {
    padding: 50px;
    background: #f8f9fa;
    min-height: 100vh;
    margin-top: 30px;
    padding-bottom: 30px;
}



.articles h2 {
    text-align: center;
    font-size: 2.6rem;
    color: #ffffff;
    padding-top: 15px;
    padding-bottom: 25px;
}


.article {
    background: white;
    border-radius: 12px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.08);
    padding: 50px;
    margin-bottom: 40px;
}


.article-content h3 {
    font-size: 2.2rem;
    color: #2c3e50;
    padding: 15px 0;
    padding-bottom: 50px;
    text-align: center;
}


.article-content h4 {
    font-size: 1.5rem;
    color: #1d3e6f;
    margin: 40px 0 25px;
    padding-left: 10px;
    border-top: 1px solid #1d3e6f;
}


.article-content p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: #1c2025;
    margin-bottom: 20px;
}


.article-content ul {
    margin: 15px 0;
    padding-left: 25px;
}


.article-content ul li {
    padding: 8px 0;
    font-size: 1.1rem;
    line-height: 1.5;
    color: #495057;
    position: relative;
}


.article-content ul p {
    margin: 8px 0 8px 4px;
    color: #6c757d;

}



.articles-wrapper {
    display: flex;
    gap: 20px;
    max-width: 1500px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 150px;

}

.articles-list {
    flex: 0 0 200px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    height: fit-content;
    position: sticky;
    top: 100px;
    margin-top: 165px;

}

.articles-list ul {
    list-style: none;
    padding-left: 0;
}

.articles-list li {
    margin: 15px 0;
}

.articles-list a {
    color: #4a6fa5;
    text-decoration: none;
}

.articles {
    flex: 1;
}



@media (max-width: 1250px) {
    .container {
        margin: auto 10px;
    }
}

@media (max-width: 768px) {

    .article {
        padding: 25px;
    }
    
    .articles h2 {
        font-size: 2rem;
    }
    
    .article-content h3 {
        font-size: 1.5rem;
    }
    
    .article-content h4 {
        font-size: 1.2rem;
    }
    
    .article-content p {
        font-size: 1rem;
    }
}

@media (max-width: 600px) {
    .articles-list {
        display: none;
    }
}