.header {
    
    background-color: #fff;
    font-family: 'Rubik', sans-serif;
    box-shadow: 0 2px 10px rgba(148, 63, 63, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    font-family: 'Rubik', sans-serif;
    width: 1000px;
    margin: auto;
}

.logo {
    font-family: "Rubik";
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 20px;
    font-weight: 800;
    color: #000000;
    text-decoration: none;
    font-family: 'Rubik', sans-serif;
}


nav a {
    margin-left: 25px;
    text-decoration: none;
    color: #555;
    padding: 10px 20px;
    border-radius: 4px;
    transition: all 0.3s;
    font-family: 'Rubik', sans-serif;
    font-size: 13px;
}

nav a.active {
    background-color: #67718a;
    color: white;
}

nav a:hover {
    background-color: #929cb3;
    color: white;
}

nav a.active:hover {
    background-color: #67718a;
    color: white;
}



.logo-icon {
    width: 30px;
    margin-right: 1px;
    vertical-align: middle;
}







.footer {
    background-color: #ffffff;
    color: rgb(4, 5, 29);
    padding: 20px 0;
    text-align: center;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contacts p {
    margin: 5px 0;
    opacity: 0.8;
    color: rgb(0, 0, 0);
}





@media (max-width: 968px) {
    .header .container {
        width: 100%;
        gap: 15px;
        padding-right: 50px;
    }
    
    .hero h1 {
        font-size: 2rem;
    }
    
    .benefits .container {
        flex-direction: column;
    }
    
    .footer .container {
        flex-direction: column;
        gap: 20px;
    }
}


@media (max-width: 690px) {
    .header .container {
        flex-direction: column;
        gap: 20px;
    }

    .nav .a {
        padding: 20px;
    }
}


